---
name: go
on: [push, pull_request]
jobs:
  lint: # <- name
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v8

  test-unit: # <- name
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - run: go run github.com/onsi/ginkgo/v2/ginkgo run -r --race --keep-going ./...
      if: ${{ ! startsWith(matrix.os, 'windows') }}
    - run: go run github.com/onsi/ginkgo/v2/ginkgo run -r --race --keep-going --output-interceptor-mode=none --skip-package=psnotify -v ./...
      if: ${{ startsWith(matrix.os, 'windows') }}
